/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}
.contact-main{
    position: absolute;
    top: 0;
    z-index: 1;
}
.contact-left{
    width: 50%;
    background-color: #2f33b3;
    position: relative;
}
.contact-right{
    width: 50%;
}
.contact-right img{
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
}
.contact-content{
    display: block;
    color: aliceblue;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-block: 4vw;
    padding-inline: 5vw;
}
.contact-content h1{
    color: aliceblue;
    font-size: 6.5vw;
    margin-bottom: 2.8vw;
    font-weight: 700;
}
.contact-content p{
    color: aliceblue;
    font-size: 1.8vw;
}
.animated-link {
    display: inline-flex;
    align-items: center;
    color:  #2f33b3;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}
.animated-link:hover{
    color:  #1d21a0;
}

.animated-link i {
    margin-left: 5px; /* Space between text and icon */
    transition: transform 0.3s ease-in-out;
}

.animated-link:hover i {
    transform: translateX(5px); /* Move arrow to right */
}
.card-1 h2{
    font-size: 2.8vw;
    font-weight: bold;
}
.card-2 h2{
    font-size: 2.8vw;
    font-weight: bold;
}
.card-3 h2{
    font-size: 2.8vw;
    font-weight: bold;
}
/* FORM */
.contactf-left{
    width: 50%;
}
.contactf-left img{
    width: 100%;
    height: 80vw;
    object-fit: cover;
    filter: brightness(80%);
}
.contactf-right{
    width: 50%;
    height: 80vw;
    background-color: #2f33b3;
    position: relative;
    color: rgb(255, 255, 255);
    padding-block: 6vw;
    display: block;
}
.con-content h2{
    font-size: 5vw;
    font-weight: 700;
}
.con-content p{
    font-size: 1.8vw;
}
.contact-border{
    border: 1px solid #2ed15f;
    border-radius: 10px;
    margin-top: 3vw;
    width: 100%;
    height: 45vw;
}

.contact-form {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    border: 1px solid limegreen;
    color: #fff;
  }
  .form-group {
    margin-bottom: 15px;
    position: relative;
  }

  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .form-group textarea {
    resize: none;
    height: 80px;
  }

  .form-group i {
    position: absolute;
    left: 10px;
    top: 35px;
    color: #000;
  }

  .input-with-icon input {
    padding-left: 35px;
  }

  .form-group input[type="text"]:focus,
  .form-group textarea:focus {
    outline: none;
    border: 1px solid #49da7f;
  }

  .form-group .required {
    color: red;
  }

  .submit-btn {
    width: 100%;
    background-color:#49da7f;
    border: none;
    padding: 15px 10px;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
  }

  .submit-btn:hover {
    background-color: #028c28;
  }