*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    position: relative;
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background: none;
    background-color: transparent;
}

.navlogo{
    width: 15vw;
}

.navbar-nav{
    gap: 2vw;
}

.nav-link{
    font-size: 16.2px;
    font-weight: 500;
}

/* Landing Section */
.landing {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.landing div{
    position: relative;
    display: flex;
    width: 100%;
}

.hero-left,
.hero-right {
    height: 65vw;
}

.hero-left {
    width: 50%;
    background-color: #3539b5;
    padding: 5vw;
}

.hero-left div {
    display: block;
    margin-top: 10vw;
}

.hero-left div h1{
    font-size: 6.5vw;
    font-weight: 700;
    color: aliceblue;
}

.hero-left div p{
    font-size: 1.8vw;
    color: aliceblue;
    margin-top: 2.2vw;
}

.hero-left div button{
    padding: 1.5vw 5vw;
    border: none;
    background-color: rgb(37, 216, 61);
    border-radius: 2px;
    margin-top: 2.2vw;
}

.hero-right {
    width: 50%;
}

.hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(80%);
}

.services-section {
    padding-top: 60%; 
    position: relative;
    z-index: 2;
}
.sericesdiv{
    display: flex;
    justify-content: center;
    width: 100%;
}
.sericesdiv h5{
    color: gray;
}
.sericesdiv h2{
    color: rgb(2, 2, 2);
    font-size: 5vw;
    font-weight: 800;
}